@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}
body {
    font-family: ar-font;
    direction: rtl;
}

/* Start header */
header video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    display: block;
}
header .overlay {
    background-color: rgba(255, 255, 255, 0.7);
}
header .header-text {
    margin-top: 7rem;
    text-align: right;
}
header .header-text h3 {
    font-size: 36px;
    margin-bottom: 40px;
    line-height: 46px;
}
header .header-text p {
    font-size: 18px;
    color: #5d5d5d;
    line-height: 32px;
    margin-bottom: 50px;
}
header .header-text .buttons {
    font-family: ar-font;
    font-size: 18px;
    padding: 8px 25px;
}

header .header-text .btn:first-of-type {
    background-color: #7936b2;
    color: #fff;
    margin-left: 15px;
}
header .header-text .btn:last-of-type {
    color: #7936b2;
    transition: all .3s ease;
}
header .header-text .btn:last-of-type:hover {
    background-color: #7936b2;
    color: #fff;
}
header .product-img {
    position: relative;
    margin: 25px 0;
}
header .product-img .ig {
    width: 100%;
    height: 100%
}
header .product-img .label {
    position: absolute;
    top: -50px;
    right: -45px;
}
header .product-img p {
    position: absolute;
    top: -25px;
    right: 5px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}
header .product-img p span {
    display: block;
}
/* End header */

/* Start Section.features */
section.features {
    background-color: #fff;
    padding: 60px 0;
}
section.features .title h3 {
    font-size: 36px;
    color: #555;
    padding-bottom: 25px;
}
section.features .title hr {
    border-top: 3px solid #743e9a;
    width: 10%;
}
section.features .feat {
    padding: 50px 0;
}
section.features .feat  img{
    width: 100%;
}
section.features .feat-text {
    margin-top: 50px;
}
section.features .feat-text h3 {
    color: #743e9a;
    font-size: 34px;
    font-weight: bold;
    border-right: 2px solid #743e9a;
    padding-right: 25px;
}
section.features .feat-text p {
    color: #555;
    font-size: 18px;
    line-height: 1.7;
    margin-top: 50px;
}
section.features .container hr {
    border-top: 3px solid #f4f4f4;
}
section.features .special h3 {
    border-left: 2px solid #743e9a;
    padding-left: 25px;
    border-right: none;
}
/* End Section.features */

/* Start section.prices */
section.prices {
    padding: 55px 0;
}
section.prices h3 {
    color: #555;
    font-size: 30px;
}
section.prices .plan {
    border: 2px solid #f0f0f0;
    background-color: #fff;
    padding-top: 15px;
    margin-top: 100px;
    color: #a9a9ab;
}
section.prices .plan p {
    font-size: 18px;
    color: #a044ff;
}
section.prices .plan h3 {
    font-size: 50px;
    margin: 30px auto;
    color: #666;
}
section.prices .plan h3 span {
    font-size: 15px;
    vertical-align: bottom;
}
section.prices .plan  ul {
    margin: 0;
    padding: 0;
    font-size: 15px;   
}
section.prices .plan  ul li {
    margin-bottom: 30px;
}
section.prices .plan button {
    border: 1px solid #7233a2;
    border-radius: 0 !important;
    padding: .5rem 1.75rem;
    color: #7233a2;
    font-family: ar-font;
}
section.prices .plan button:hover {
    color: #fff;
    background-color: #7233a2;
}
section.prices .special  {
    margin-top: 55px;
    padding-top: 60px; 
}
section.prices .special button {
    background-color: #7233a2;
    color: #fff;
}
section.prices .special button:hover {
    background-color: #fff;
    color: #7233a2;
}
/* End section.prices */

/* Start section.question */
section.question {
    padding: 50px 0;
    text-align: right;
}
section.question .title h3{
    font-size: 30px;
    color: #555;
    margin-bottom: 50px;
}
section.question .card {
    margin-bottom: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 0;
}
section.question .card .card-header {
    background-color: transparent;
    border-bottom: none;
}
section.question .card-header a {
    font-size: 18px;
    color: #555;
    font-weight: bold;
    display: block;
    position: relative;
    text-decoration: none;
}
section.question .card-header .fa-angle-up {
    position: absolute;
    left: 5px;
}
section.question .card .card-block {
    font-size: 15px;
    color: #c9c9c9;
    line-height: 24px;
    padding: 0 20px 25px 50px;
}
section.question .card .card-header h5 a.collapsed i {
    transform: rotate(180deg);
    transition: 0.3s;   
}
/* End section.question */

/* Start section.video */
section.video {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
section.video video {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}
section.video .overlay {
    background-color: rgba(106, 48, 147, 0.7);
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
section.video .overlay button {
    outline: none;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 30px;
    font-family: ar-font;
    color: #fff;
    background-color: transparent;
    border: none;
}
section.video .overlay button .fa-video{
    display: block;
    margin: 0px auto;
    margin-bottom: 30px;
}
/* End section.video */

/* Start section.contact */
section.contact {
    background-color: #131313;
    padding: 60px 0 40px;
    text-align: right;
}
section.contact .title h4 {
    color: #758594;
    font-size: 18px;
    line-height: 50px;
}
section.contact form .form-group {
    margin-bottom: 6px;
}
section.contact form .form-group input,
section.contact form .form-group textarea {
    background-color: #242424;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}
section.contact form button {
    width: 100px;
    height: 40px;
    background-color: #7233a2;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 18px;
}
section.contact .other-products .media {
    margin-bottom: 25px;
}
section.contact .other-products .media-body {
    color: #737373;
    font-size: 15px;
}
section.contact .other-products .media-body h5 {
    color: #aeadad;
    font-size: 18px;
    margin-bottom: 15px;
}
/* End section.contact */

/* Start footer */
footer {
    background-color: #1d1d1d;
    line-height: 80px; 
    font-size: 15px;
}
footer .social-media ul {
    margin: 0;
    padding: 0;
}
footer .social-media ul li {
    margin-right: 0 !important;
}
footer .social-media ul li a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    background-color: #718292;
    color: #1d1d1d;
    border-radius: 50%;
    margin-left: 15px;
}
footer .social-media ul li a.facebook:hover {
    background-color: #3b5999;
    color: #fff;
}
footer .social-media ul li a.pinterest:hover {
    background-color: #E60023;
    color: #fff;
}
footer .social-media ul li a.tumblr:hover {
    background-color: #34526f;
    color: #fff;
}
footer .social-media ul li a.twitter:hover {
    background-color: #55acee;
    color: #fff;
}
footer .ftext {
    color: #919191;
    font-size: 15px;
}
/* End footer */

/* Start Responsive */
@media(max-width:991px) and (min-width:870px) {
    header .header-text {
        margin-right: -50px;
        margin-bottom: 20px;
    }
    header .product-img .ig {
        width: 130%;
        height: 100%
    }
}
@media(max-width:869px) and (min-width:768px) {
    header .header-text {
        margin-top: 5rem;
    }
    header .header-text h3 {
        font-size: 30px;
        margin-bottom: 30px;
        line-height: 40px;
    }
    header .header-text p {
        font-size: 16px;
        line-height: 30px;
    }
    header .product-img .ig {
        width: 111%;
        height: 100%
    }
}
@media(max-width:767px) {
    header .product-img .ig {
        margin-top: 40px;
    }
    header .product-img .label {
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
    header .product-img p {
        top: 20px;
        right: 0;
        left: 0;
        margin: auto;
    }
    section.features .feat img {
        width: 50%;
    }
    section.features .special h3 {
        border-right: 2px solid #743e9a; 
        border-left: none;
        text-align: right;
    }
    section.features .special .special-1 {
        order: 2;
    }
    section.features .special .special-2 {
        order: 1;
    }
    section.features  .special-1-1 {
        text-align: right;
    }
}
@media (max-width:575px) {
    section.prices .plan {
        margin: 100px 50px 0 50px;
    }
    footer {
        text-align: center;
    }
} 
/* End Responsive */